@{
    ViewData["Title"] = "Students";
}
@model IEnumerable<Student>;
<div class="text-center" style="margin:2rem;">
    <h1 class="display-4">Student List</h1>
</div>
<table border="1" class="table table-light">
    <tr>
        <td>Name</td>
        <td>Course</td>
        <td>Admission Date</td>
        <td>Email</td>
        <td>GPA</td>
        <td>Details</td>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.Email</td>
            <td>@student.GPA</td>
            <td><a asp-action="ShowDetails" asp-route-id="@student.Id">Show Details</a></td>

        </tr>
    }
</table>
<div class="text-center">
    <button class="btn btn-info" style="border-radius:1.5rem; padding-left:1rem; padding-right:1rem; margin:1rem;">
        <a asp-area="" asp-controller="Home" asp-action="Index" style="color:black;">Back To Home</a>
    </button>
</div>
